body {
    text-align: center;
    font-family: 'Rubik', sans-serif;
}

.top-container {
    background-color:  #f7dad9;
    margin: 0 auto 0 auto;
    position: relative;
    top: 0;
}

h1 {
    margin: 100px auto 0 auto;
    font-family: 'Zeyada', cursive;
    font-size: 5.6rem;
    color: #968c83;
}

h2 {
    font-size: 2.5rem;
    color: #968c83;
}

.cloud1 {
    position: relative;
    left: 300px;;
    top: 70px;
}

.cloud2 {
    position: relative;
    left: 200px;
    bottom: 700px;
}

.mountain {
    position: relative;
    bottom: 0;
    width: 60%;
}
.mypicture {
    width: 15%;
    border-radius: 100%;
}

.middle-container {
    background-color: #fff5ea;
    padding-top: 120px;
    padding-bottom: 80px
}

.skill-row {
    width: 50%;
    margin: 0 auto 0 auto;
    line-height: 2;    
}



.circular2 {
    border-radius: 90%;
    width: 50%;
}

.bottom-container {
    background-color:  #f7dad9;
    padding: 60px 0 60px 0;
}